/* 
    login.html 
*/

body{
    background-image: url('../images/login.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; 
}

header{
    padding: 20px 30px;
}

header h1{
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 55px;
}


.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
form h3{
    font-family: 'Bebas Neue', cursive; 
    font-size: 66px;
    letter-spacing: 1px;
    text-shadow: 0px 3px 1px rgb(148, 148, 148);
}

.social-networks{
    margin: 30px auto;
    text-align: center;
}

.social-networks img{
    width: 70px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
}

@media screen and ( max-width:870px ) {
    header h1{
        color: #000;
    }
}