/* 
    login.html 
*/

body{
    background-image: url('../images/login.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; 
}

header{
    padding: 20px 30px;
}

header h1{
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 55px;
}


.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and ( max-width:870px ) {
    header h1{
        color: #000;
    }
}