/* 
    GENERAL
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*
font-family: 'Bebas Neue', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*
font-family: 'Pacifico', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*
font-family: 'Montserrat', sans-serif;
*/