/* 
    GENERAL
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*
    TITULOS
font-family: 'Bebas Neue', cursive;     
*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*
    LOGO
font-family: 'Pacifico', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/* General/Defecto
font-family: 'Montserrat', sans-serif;
*/

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.input{
    display: flex;
    flex-direction: column;
}
.input label{
    margin: 0 0 7px 20px;
}
.input input{
    border: 1px solid #000;
    height: 50px;
    font-size: 16px;
    padding: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; 
}
.button{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    cursor: pointer;
    height: 50px;
    padding: 0 50px;
    color: #fff;
    border: 2px solid #000;
    background-color: #000;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: .3s ease background, .3s ease color;
    -moz-transition: .3s ease background, .3s ease color;
    -ms-transition: .3s ease background, .3s ease color;
    -o-transition: .3s ease background, .3s ease color;
    transition: .3s ease background, .3s ease color;
}
.button:hover{
    background: #fff;
    color: #000;
}
.button:disabled{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(133, 133, 133);
    background-color: rgb(133, 133, 133);
}
.text-danger{
    color: rgb(251, 39, 39);
}
a{
    text-decoration: none;
}
ul{
    list-style: none
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 43px none #ffffff;
    border-radius: 53px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }